<div style="padding: 10px;">
    <h1>Mon Panier</h1>
    <hr>
    <ol style="margin:20px;">
        <li *ngFor="let item of productCartList" class="item" style="margin-top: 10px;">
            <div class="img-item">
                <img width="50" [src]="item.image" alt="shop">
            </div>
            <div class="detail">
                <div> <a [routerLink]="['/product-list', item.id]"> {{ item.name }} </a></div>
                <p>{{ item.price | currency:'EUR' }}</p>
            </div>
        </li>
    </ol>
</div>