<div style="padding: 10px;">
    <h1>Liste des produits</h1>
    <hr>
    <div class="flexbox">
        <p *ngIf="loading">
            Chargement...
        </p>
        <div class="flex-item">
            <ul style="margin:20px;">
                <li *ngFor="let item of productList" class="item">
                    <div class="img-item">
                        <img height="130" width="150" [src]="item.image" alt="shop">
                    </div>
                    <div class="detail">
                        <div> <a [routerLink]="['/product-list', item.id]"> {{ item.name }} </a></div>
                        <p>{{ item.price | currency:'EUR' }}</p>
                        <button mat-raised-button color="primary" (click)="addToCart(item)">Add to cart</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="flex-item">
            <app-cart [product]="productAdd" [order]="order" [crossel_product]="getCrosselProduct()"></app-cart>
        </div>
    </div>

</div>