<div style="padding: 10px;">
    <h1>Détail de l'article</h1>
    <hr>

    <div id="container" style="padding: 30;">
        <div class="img">
            <img width="500" [src]="'../../assets/'+item?.image" alt="shop">
        </div>
        <div class="description">
            <ul>
                <li> Titre de l'article : {{ item?.name }}</li>
                <li> Description de l'article : {{ item?.description }} </li>
                <li> Prix de l'article : {{ item?.price | currency:'EUR' }} </li>
            </ul>
            <div style="padding-left:30px;">
                <button mat-raised-button color="primary">Add to cart</button>
            </div>

        </div>
    </div>
</div>